/*
   Final Project Style Sheet
   Author: Luis Fuentes
   Date:   12/9/2016

   Filename:         website.htm
*/
/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}
/* Set the default page element styles */

body * {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   list-style: none;
   margin: 0px;
   padding: 0px;
   text-decoration: none; 

}

/* Body Styles */
body {
   width: 95%;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 16px;
   margin: auto;
   position: relative;
   background: url("images/2016.jpg")
}

/* Header styles */

header {
   float: left;
   width: 100%;

}

header a
{
    text-align: center;
}
/*Navigation list styles */

header nav, .location {
 
   width: 90%;
   margin: auto;
   /*margin: 10px auto 10px -7%;  float: left;*/
}

header nav li {
   display: block;
   width: 13%;
   padding: 1.4em;
   margin-bottom: 5px;
   float: left;
}

header nav li a {
   display: block;
   width: 100%;
   height: 50px;
   line-height: 50px;
   text-align: center;
   color: black;
   font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.4em;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: rgb(250, 250, 250);
}

header nav li a:hover {
    background: rgba(250, 250, 250, 0.6);
}

header article {
   float: left;
   font-size:80%;
   width: 100%;
   background: rgba(50, 50, 50, 0.7); 
}



header h1 {
   font-size: 3.5em;
   font-family: "Times New Roman", serif;
   font-weight: bold;
   color: lightcyan;
   letter-spacing: 7px;
   text-align:center;
}

header article p{
   font-size: 2em;
   font-family: 'Bell MT';
   width: 95%;
   color: cornflowerblue;
   float: right;
   margin-right: 20px;
}

    header article p a {
        font-size: 2.5em;
        position: relative;
        font-family: 'Bell MT';
    }
/* Section styles */

#accordion{ 
   clear: left;
   background: url("images/Rust.jpg");
}

#accordion h3
{
   font-size: 1.5em;
   font-family: 'Bell MT';
   font-weight: bold;
   color: darkslategrey;
   letter-spacing: 4px;
   background-color: silver;
   border: solid black 1px;
}

#accordion h3:hover
{
    background-color:lavender;
}

#accordion ul
{
    margin-left: 3em;
}
#accordion ul li
{
    font-family: 'Bell MT';
    list-style: lower-alpha;
    font-size: 130%;
    color: white;
}

#accordion p {
   color: white;
   margin-left: 10px;
   margin-bottom: 5px;
   padding-top: 5px;
   width: 100%;
   font-family: 'Bell MT';

}

#accordion blockquote
{
   color: white;
   font-size: 100%;
   margin-left: 10px;
   margin-bottom: 5px;
   padding-top: 5px;
   width: 100%;
   font-family: 'Bell MT';
}

/* the styles for the section */

/* the styles for the form */
fieldset {
    margin-bottom: .5em;
    padding: .5em 1em;
}
legend {
    font-weight: bold;
    font-size: 85%;
}
label {
    float: left;
    width: 10em;
    text-align: right;
}
input, select {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
input:required, input[required] input:invalid {
	border: 2px solid #800000;
}
input:valid {
	border: 1px solid black;
}
input:invalid {
	box-shadow: none;
}
br {
    clear: both;
}
#radio label {
	float: none;
	
}
#radio input {
	width: auto;
	margin-left: 3em;
}
#exp_month {
	width: 7em;
}
#exp_year {
	width: 5em;
}
#buttons input {
	width: 10em;
}

#order {
	clear: left;
	padding: 0 180px;
    position: relative;
    background: url("images/Blue5.jpg");
    color: white;
}
#order h1 {
	color: white;
	font-size: 150%;
	padding: .5em 0 .25em;
}
#order h2 {
	font-size: 120%;
	padding-bottom: .25em;
}
#order p {
	padding-bottom: .5em;
}
#order blockquote {
	padding: 0 2em;
	font-style: italic;
}
#order ul {
	padding: 0 0 1.5em 1.25em;
	list-style-type: circle;
}
#order li {
	padding-bottom: .35em;
}


/* Footer Styles */

footer {
   border-top: 1px solid rgb(9, 30, 101);
   background-color: rgb(9, 30, 101);
   text-align :center;
   color:white;
   clear: left;
   margin-top: 20px;
   padding: 10px 0px;
}

/* Table styles */

table tr td.header
{
    font-weight: bolder;
    border-bottom: 3px solid rgb(120, 120, 120);
    padding-top: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 130%;
}

table tr td
{
    font-family: 'Times New Roman', serif;
    font-size: 100%;
    font-weight: bold;
}

table
{

    background:url("images/table.jpg");
    width: 100%;
    margin-top: 50px;
    color: white;
    font-size: 130%;
}

#a1
{
    padding-top: 80px;
    font-size: 1.4em;
    color: white;
}
 
#a2
{
    padding-top: 180px;
    font-size: 180%;
    color: white;

}

#image_list
{
    padding-right: 5px;
    padding-bottom: 5px;
}

section #image_list li {
	padding: 2px;
	display: inline;
}
section #image_list a {
	border:none;
}

section h1
{
    color: white;
    font-family: fantasy;
    font-size:250%;
    text-align: center;
}

#caption{
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;

}

aside
{
    color: deepskyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-decoration: none;
}

#map button:hover
{
    background: url("images/jona.jpg");
}

#map button
{
    margin-left: 0.5em;
    margin-right: 2em;
    text-align: center;
    padding: 0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    background: url("images/milk.jpg");
    color: white;  
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
}

#map1
{
    color: white;
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: 150%;
    padding-bottom: 1em;
}
.map1{
	margin:auto; 
	width: 80%;
}
#fi
{
    margin-left: 4em;
}

#fo
{
    width: 20%;
}
#spec
{
    width: 17%;
}

#a2 video
{
    margin-left: 9em;
}

#slideShow
{
    margin:0;
}
.location ul{
	margin: auto;
	width: 90%;
}
.location ul li {
	margin: auto;
	padding: 10px;
	padding-right: 3%;
	padding-left: 3%;
	margin-right: 2%;
	list-style-type: none;
	display: inline;
	background-color: rgba(0,18,255,0.70);
	color: white;
	border-radius: 7px;
}
.location ul li:hover {	
	background-color: rgba(100, 100, 100,0.80);

} 
tr td{
	text-align: center;
}
aside a, .mBody{
	color: white;
}
aside a:hover{
	color: blue;
}